@using WinningCards.Models

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Winning cards App</title>
</head>
<body>
    <div>
        <h4>Wleocme to the winning App</h4>
    </div>
    <div> 
        Server Name:@WinningCards.Models.Config.AppMachineName
    </div>
    <div>
        App Version:@WinningCards.Models.Config.AppVersion
    </div>
    <div>
        App Environment:@WinningCards.Models.Config.AppEnvironment
    </div>

</body>
</html>
